<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hjh.dao.UserFamilyVOMapper" >
  <resultMap id="BaseResultMap" type="com.cn.hjh.po.UserFamilyVO" >
    <id column="user_family_id" property="userFamilyId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="family_id" property="familyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_family_id, user_id, family_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_family
    where user_family_id = #{userFamilyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_family
    where user_family_id = #{userFamilyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hjh.po.UserFamilyVO" >
    insert into user_family (user_family_id, user_id, family_id
      )
    values (#{userFamilyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{familyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hjh.po.UserFamilyVO" >
    insert into user_family
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userFamilyId != null" >
        user_family_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="familyId != null" >
        family_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userFamilyId != null" >
        #{userFamilyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="familyId != null" >
        #{familyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hjh.po.UserFamilyVO" >
    update user_family
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="familyId != null" >
        family_id = #{familyId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_family_id = #{userFamilyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hjh.po.UserFamilyVO" >
    update user_family
    set user_id = #{userId,jdbcType=INTEGER},
      family_id = #{familyId,jdbcType=VARCHAR}
    where user_family_id = #{userFamilyId,jdbcType=INTEGER}
  </update>
</mapper>